
a {
    color: #2699fb;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 17vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2699FB; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav li {
    padding: 6px 8px 6px 14px;
    color: #fff;

}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: block;
    text-transform: uppercase;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.sidebar-margin {
    margin-left: 17vw;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 12px;}
}

form .row {
    margin-top: 25px;
}

form label {
    color: #2699FB;
    margin: 5px;
    margin-left: 0;
}

form input.form-control, select.form-control {
    /*border-color: #BCE0FD;*/
    border: 3px solid #BCE0FD;
    border-radius: 12px;
    padding: .8rem.75rem;
}
