<a type="button" id="chat-button" tabindex="0" style="
                        bottom: 0px;
                        left: 0px;
                        position: absolute;
                        z-index: 1000;
                        width: 60px;
                        height: 60px;
                        line-height: 3.75rem;
                        /*border-radius: 100%;*/
                        margin: 0;
                        /* border-radius: 5px; */
                        overflow: hidden;
                        font: inherit;
                        text-transform: none;
                        display: inline-block;
                        padding: 0.5rem 1rem;
                        font-size: 1rem;
                        border: unset;
                        line-height: 1.5rem;
                        text-decoration: none;
                        background-color: unset;
                        cursor: pointer;
                    ">
    <div isroundwidget="true">
        <div>
            <img src="https://virtual-assistants.gr/img/icon.png" style="width: 48px;">
        </div>
    </div>
</a>
